@font-face {
  font-family: "Soehne";
  src: local("Soehne"),
    url("./assest/font/TestSöhne-Buch.otf") format("opentype");
}

@font-face {
  font-family: "Signifier";
  src: local("Signifier"),
    url("./assest/font/TestSignifier-Thin.otf") format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  color: #ffffff;
  background-color: #000000;
}

.container {
  /* border: 2px solid red; */
  font-family: "Soehne", system-ui, -apple-system, Helvetica Neue, Arial,
    sans-serif;
  font-size: 17px;
  font-weight: 500;
}

.sub_header {
  width: 100%;
  /* position: relative; */
}

.nav_sec {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /* background-color: black; */
  width: 100%;
  position: fixed;
  top: 0px;
}

.mono_ai {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: 18px;
}

.video_play {
  position: absolute;
  object-fit: cover;
  right: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition-duration: 0.3s;
  opacity: 0.5;
}

.arr_down {
  width: 16px;
  height: 16px;
  padding-top: 3px;
  margin-left: 3px;
}

.mono_ai :hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  cursor: pointer;
  text-decoration-color: #ffffff;
}

.open_ai {
  padding: 16px 10px 10px;
}

.tp_openai {
  color: #ffffff;
}

.nav_section_one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 37%;
  margin-right: 200px;
  padding: 10px;
}

.nav_section_two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 24%;
  padding: 10px;
  /* margin-top: 5px; */
}

.btn_chatgpt {
  border: 1px solid white;
}

.btn_chatgpt :hover {
  background-color: #ffffff;
  color: #000000;
}

.try_chatgpt {
  display: flex;
  justify-content: center;
  align-content: center;
  border-color: #ffffff;
  color: #ffffff;
  background: none;
  font-size: 18px;
  padding: 4px 9px;
  cursor: pointer;
  width: 139px;
}

button:hover {
  background-color: #ffffff;
  color: #000000;
}

.create_agi {
  margin-top: 320px;
  margin-left: 240px;
}

.agi {
  padding: 0px auto 10px;
  margin-bottom: 45px;
  width: 780px;
}

.safe-agi {
  font-size: 70px;
  font-weight: 400;
}

.more_about {
  margin: 18px auto;
  display: flex;
  margin-bottom: 25px;
}

.learn_openai {
  border: 1px solid white;
  color: #ffffff;
  border-color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  padding-top: 3px;
  padding-left: 14px;
  margin-left: 6px;
  width: 240px;
  height: 33px;
}

.more_about p:hover {
  background-color: #ffffff;
  color: #000000;
}

.video_btn {
  background-color: #000000;
  color: #ffffff;
  border: #000000;
  margin-left: 745px;
  margin-right: 18px;
  font-size: 17px;
  font-weight: 500;
  padding: 6px;
  height: 44px;
  width: 210px;
}

.agi_research {
  margin-bottom: 40px;
}

.ul_list_one {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  margin: 40px auto;
  padding-left: 20px;
}

.work_list {
  width: 390px;
}

.prior_work {
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  flex-basis: 1;
  margin: 40px auto 15px;
  letter-spacing: 0px;
}

.our_research {
  color: #ffffff;
  /* margin-top: 20px; */
  text-decoration: none;
}

a .abt_products {
  font-size: 17px;
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

.our_research :hover {
  cursor: pointer;
  text-decoration-line: underline;
  text-underline-offset: 5px;
  text-decoration-color: #424242;
}

hr {
  margin: 100px 18px 0px 20px;
}

.latest {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.latest_updates {
  font-size: 45px;
  font-weight: 600;
  font-family: "Signifier", ui-serif, Georgia, Cambria, Times New Roman, Times,
    serif;
  margin-bottom: 10px;
}

.all_updates {
  color: #ffffff;
  font-size: 17px;
  margin-right: 18px;
  text-decoration: none;
  text-decoration-line: underline;
  text-decoration-color: #ffffff;
  text-underline-offset: 3px;
}

.all_updates :hover{
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-color: #424242
}

.ul_list_two {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 18px;
  list-style-type: none;
  margin-top: 30px;
  width: 96%;
  padding-left: 20px;
}

.box {
  width: 312px;
  height: 312px;
  margin-top: 10px;
}

.chatgpt_updates {
  color: #ffffff;
  width: 90%;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  padding: 3px 0;
  margin-bottom: 5px;
}

.sub_blog {
  text-decoration: none;
}

.sub_blog :hover {
  text-decoration-line: underline;
}

.date {
  display: none;
}

.sr-only {
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  padding: 3px 0;
}

.agi_create {
  display: flex;
  margin: 10px;
  height: 170px;
}

.general-ai {
  width: 100%;
  padding-left: 10px;
}

.potential-benefits {
  font-size: 45px;
  font-family: "Signifier", ui-serif, Georgia, Cambria, Times New Roman, Times,
    serif;
  font-weight: 600;
}

.impact_ai {
  width: 100%;
}

.more_benefits {
  font-size: 27px;
  letter-spacing: normal;
  /* height: 150px; */
  margin-bottom: 22px;
  width: 640px;
}
.about_ai {
  height: 100px;
  text-decoration: #ffffff;
  cursor: pointer;
}

.about_ai p {
  color: white;
  font-size: 17px;
  margin-top: 10px;
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 1.2px;
  text-underline-offset: 3px;
}

.about_ai :hover {
  text-decoration-color: #383838;
}

.men_pics,
.smile {
  width: 100%;
}

.men_pics {
  margin-top: 115px;
}

.people,
.people1 {
  width: 100%;
}

.smile {
  margin-top: 40px;
}

.my_team {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  height: 700px;
  padding-left: 40px;
}

.casual_person {
  width: 620px;
  height: 600px;
  margin-right: 18px;
}

.invisible {
  border-color: #11111156;
}

.topics {
  width: 50%;
  /* padding: 0px 10px; */
  box-sizing: border-box;
}

.learning_space {
  font-size: 52px;
  font-family: "Signifier", ui-serif, Georgia, Cambria, Times New Roman, Times,
    serif;
  font-weight: 600;
  /* width: 650px; */
  width: 93%;
  height: 57%;
  letter-spacing: 1px;
  text-indent: -28px;
}

.writer {
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 17px;
  font-weight: 600;
}

.applied_ai {
  /* margin-top: 5px; */
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 0.5px;
}

.future_ai {
  font-family: "Signifier", ui-serif, Georgia, Cambria, Times New Roman, Times,
    serif;
  font-size: 72px;
  font-weight: 600;
  margin: 10px auto 80px;
  padding-left: 20px;
}

.view_tech {
  border: 1px solid white;
  height: 88px;
  text-align: center;
  margin: auto 20px;
}

.view_tech:hover {
  background-color: white;
  color: #000000;
}

.view_tech p {
  padding: 20px;
  margin: 4px auto 0;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
}

.footer {
  display: flex;
  /* width: 100%; */
  height: 100%;
  margin: 100px auto;
}

.foot_openai {
  width: 350px;
  margin-top: 70px;
  padding-left: 20px;
}

.image_openai {
  width: 130px;
  justify-content: start;
}

.ul_list_foot {
  display: flex;
  width: 1000px;
  height: 300px;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 70px;
}

.ul_list_foot p {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0;
}

.sub_list a {
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  text-decoration-color: transparent;
  line-height: 25px;
}

.sub_list a :hover {
  text-decoration-line: underline;
  text-underline-offset: 2px;
  text-decoration-color: #ffffff;
  text-decoration-thickness: 1px;
}

.sub_list_foot svg {
  font-size: 20px;
}

.foot_end {
  display: flex;
  justify-content: space-between;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 70px;
}

.mini_foot {
  width: 400px;
  height: 100px;
  padding-left: 20px;
}

.copy_year {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

.foot_lnk a {
  text-decoration: none;
  color: #ffffff;
}

.lnk span {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}

.foot_lnk a :hover {
  text-decoration-line: underline;
  text-decoration-color: #ffffff;
  text-decoration-thickness: 1px;
  text-underline-offset: 2.5px;
}

.foot {
  margin-top: 10px;
}

.social {
  display: none;
}

.social_media {
  width: 800px;
}

.media_lnk {
  display: flex;
  justify-content: start;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 500;
  /* height: 50px; */
}

.media_list {
  list-style-type: none;
  margin-right: 18px;
}

.media_list a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.media_list a :hover {
  /* border: 2px solid green; */
  text-decoration-line: underline;
  text-decoration-color: #ffffff;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.back_up {
  display: flex;
  justify-content: start;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.back {
  margin-right: 3px;
}

.back_up :hover {
  /* border: 2px solid #5e8000; */
  text-decoration-line: underline;
  text-decoration-color: #ffffff;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.line {
  background-color: black;
}

@media (max-width: 38em) {
  .body {
    border: 3px solid red;
  }

  .nav_sec {
    position: absolute;
    top: 0px;
    padding: 2px;
  }

  .create_agi {
    margin-top: 285px;
    margin-left: 10px;
    height: 245px;
  }

  .agi {
    width: 380px;
    margin-bottom: 30px;
  }
  .safe-agi {
    font-size: 38px;
    font-weight: 500;
  }

  .more_about {
    width: 380px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .learn_openai {
    font-size: 15px;
    width: 160px;
  }

  .video_play {
    height: 525px;
  }

  .video_btn {
    margin-left: 40px;
    padding-top: 10px;
    width: 45px;
  }

  .pause_video {
    display: none;
  }

  .ul_list_one {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
  }

  .prior_work {
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0px;
    padding: 0 15px;
  }

  a .abt_products {
    padding: 0 15px;
    font-size: 15px;
    font-weight: 400;
  }

  .pioneer_list_one {
    margin-bottom: 16px;
  }

  hr {
    padding: 0;
    margin: 0px 15px;
    margin-top: 75px;
  }

  .latest {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .latest_updates {
    font-size: 28px;
    font-weight: 400;
    padding: 0 15px;
    margin-bottom: 10px;
  }
 
  .all_updates {
    font-size: 15px;
    padding: 0 15px;
  }

  .ul_list_two {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .box {
    width: 395px;
    height: 365px;
    padding: 0 15px;
    margin-top: 30px;
  }

  .chatgpt_updates {
    font-size: 15px;
    font-weight: 500;
    padding: 0 15px;
  }

  .sr-only {
    font-size: 15px;
    padding: 0 15px;
  }

  .agi_create {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 72px;
    height: 140px;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
  }

  .potential-benefits {
    font-size: 26px;
    font-weight: 500;
    margin-top: 10px;
    padding: 0 5px;
  }

  .more_benefits {
    font-size: 20px;
    margin-top: 16px;
    width: 390px;
    padding: 0 15px;
  }

  .about_ai p {
    color: white;
    font-size: 15px;
    padding: 0 15px;
    margin: 0;
  }
  
  .people,
  .people1 {
    margin-top: 30px;
  }

  .smile {
    margin-top: 85px;
  }

  .my_team {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    margin: 0;
    margin-bottom: 150px;
  }
  
  .casual_person {
    width: 395px;
    height: 365px;
    margin-top: 15px;
    padding: 0 15px;
  }

  .learning_space {
    font-size: 29px;
    font-weight: 600;
    width: 390px;
    text-indent: 1px;
    padding: 0 15px;
    margin-top: 30px;
  }

  .writer {
    margin-top: 23px;
    font-size: 14px;
    font-weight: 600;
    padding: 0 15px;
  }

  .applied_ai {
    font-size: 14px;
    padding: 0 15px;
  }

  .future_ai {
    font-size: 40px;
    font-weight: 600;
  }

  .view_tech {
    padding: 0;
    margin: 0;
    margin: 0 15px;
    border-radius: 5px;
  }

  .view_tech p {
    padding: 25px;
    font-size: 20px;
    font-weight: 500;
  }

  .footer {
    border: 3px solid rgb(218, 32, 162);
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 50px;
  }

  .ul_list_foot {
    border: 3px solid rgb(32, 218, 48);
    width: 350px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 0 15px;
  }

  .ul_list_foot p {
    border: 3px solid rgb(32, 190, 218);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
  }

  .foot_nav {
    border: 3px solid goldenrod;
  }

  .foot_end {
    height: 300px;
    gap: 5px;
    border: 3px solid red;
    
  }

  .mini_foot{
    width: 200px;
    padding: 0 10px;
  }
  
  .social {
    border: 3px solid rgb(170, 152, 251);
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
  }
  
  /* .social-container{
    display: inline-block;
  } */

  .social_media {
    border: 3px solid red;
    width: 175px;
    height: 165px;
  }
  
  
  .media_lnk {
    border: 3px solid palegreen;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 23px;
    padding: 0;
  }

  .back_up {
    border: 3px solid rgb(120, 175, 17);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  }
}
